/* General Styling */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital,wght@0,300;1,300&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #302e22;
  background: #f1f0e8;
  cursor: default;
  
  
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem; 
    
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    padding: 2rem;
    color:#1b1a14;
    text-align: center;
    
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    margin-top: 1rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.65;
    margin-top: 15px;
}

.container {
    background-color: #f1f0e8;
}



/* Navbar Styling */
.navbar {
    background-color: #d8e5e7;
    color: white;
    padding: 15px 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Brand Styling */
.brand {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #302e22;
    text-decoration: none;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #302e22;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

/* Hover Effects */
.nav-links a:hover {
    background-color: #302e22;
    color:#f1f0e8;
}


/* hero section */

.hero-container {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}


.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    filter:brightness(90%);
}

.hero-text {
    position: absolute;
    top: 10%;
    text-align: center;
    color: #1b1a14;
    font-size: 1.5rem;
    max-width: 800px;
    padding: 20px;
    background: none;
    border-radius: 10px;
    
}

.hero-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    
    
    
}

.hero-text p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Floating Search Bar */
.search-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}

/* Search Form */
.search-form {
    display: flex;
    width: 100%;
}

.search-field {
    flex: 1;
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #302e22;
    border-radius: 8px;
    outline: none;
    margin-right: 15px;
    
}

/* Search Button */
.btn {
    padding: 12px 20px;
    background: #302e22;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #4d4b3c;
}


.hero-container {
    display:flex;
    justify-content: center;
    align-items: center;
    background: #cad8da;
    height: 400px;
   
}


.hero-image {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    object-fit: cover;
    
}

.search-container {
    display:flex;
    justify-content: center;
    align-items: center;
}


/* form */

.filters {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 25px;
    background: #ffffff;
    
}

.options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter-form {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 2rem;
    background: #ffffff;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);*/
    box-shadow: inset 0 -10px 30px -10px #d8d8d6;
}
    
.filter-field {
    padding: 10px;
    border: #302e22;
    border-radius: 5px;
    width: 100%;
    margin-right: 10px;
}

/* listing cards */

.listings-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    padding: 3rem;
    background: #fdfafa;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.listing-card {
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    background: #ffffff;
    color:#302e22;
    border-color: #302e22;
    border-width: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit:fill;
    border-radius: 8px;
}

/* button styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #302e22;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #4d4b3c;
}

/* footer */
.copyright {
    text-align: center;
    padding: 2rem;
    background: #d8e5e7;
    color: #302e22;
    font-size: 0.8rem;
    margin:0;
}


/* media queries */

@media screen and (max-width: 768px) {
   
    .listings-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* nav */

    .navbar-toggler {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: white;
        border: 1px solid #ddd;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links a {
        display: block;
        padding: 10px;
    }

    /* filters */

    .filters {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        gap: 10px;
        
    }

    .options {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    

}

@media screen and (max-width: 480px) {
    .listings-container {
        grid-template-columns: repeat(1, 1fr);
    }

    
    .filters {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .options {
        display: flex;
        gap: 10px;
        align-self: flex-start;
    }

    .filter-form {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .filter-field {
        padding: 10px;
        border: #302e22;
        border-radius: 5px;
        width: 100%;
        margin-right: 10px;
    }
    
}