/* Login Page Styling */
.form-container {
    max-width: 600px;
    margin: 3rem auto;
    padding: 2rem;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.registration-form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    gap: 2rem;
}

h2 {
    text-align: center;
    color: #302e22;
    font-size: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-size: 1rem;
    font-weight: 500;
    color: #302e22;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #302e22;
    border-radius: 5px;
    font-size: 1rem;
    background: #f8f8f8;
    color: #302e22;
}

input:focus {
    border-color: #a8c7cb;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #302e22;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #4d4b3c;
}

/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

} */


/* Optional: Center and color feedback messages */
form p {
    text-align: center;
    font-weight: 500;
    margin-top: -1rem;
}

p.success {
    color: green;
}

p.error {
    color: red;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        font-size: 24px;
    }
}
